<div class="container cart">

  <table class="table table-bordered">
    <thead class="text-center bg-light text-black">
      <tr>
        <th>Id</th>
        <th>Image</th>
        <th>Name</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Price</th>

      </tr>
    </thead>

    <tbody *ngFor="let item of items">
      <tr>
        <td>{{item.id}}</td>
        <td>{{item.image}}</td>
        <td>{{item.name}}</td>
        <td>{{item.description}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.price}}</td>
      </tr>

    </tbody>
  </table>




</div>
