.cart{
  margin-top:140px;

}

ul{
  list-style-type: none;
  margin-left:70rem;
}

@media screen and (max-width:1020px)
{
  ul{
    margin-left:26rem;
  }
}

.address{
  margin-bottom:350px;
}


.name{
  font-size: 25px;
  font-weight: 700;

}
p{
  font-size: 18px;
  margin:0px;
  padding:0px;

}

.payment{
font-size: 40px;
padding-bottom: 10px;
}
