<div class="container cart">



  <table class="table">
    <thead class="text-center bg-light text-black">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Sub Total</th>

      </tr>
    </thead>

    <tbody *ngFor="let item of items; let i=index" class="text-center">
      <tr>
        <td>{{item.name}}</td>
        <td>{{item.description}}</td>
        <td>{{item.price}}</td>
        <td style="text-align:center"><input type="number" min="0" max="5" [(ngModel)]=item.quantity></td>
        <td>Rs. {{total(i)}}</td>

      </tr>

    </tbody>

  </table>

  <p class="total">Total Rs.</p>




</div>
