<div class="container cart table-responsive">



  <table class="table text-center ">
    <thead class="bg-light text-black">
      <tr>
        <th>Remove</th>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Sub Total</th>


      </tr>
    </thead>

    <tbody *ngFor="let item of items; let i=index">
      <tr>
        <td><button (click)="delete(i)" class="btn btn-sm btn-outline-dark"><i class="far fa-trash-alt"></i></button>
        </td>
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.description}}</td>
        <td>{{item.price}}</td>
        <td style="text-align:center"><input type="number" min="0" max="5" [(ngModel)]="item.quantity"
            (change)="inputChange(i,$event)"></td>
        <td>Rs. {{item.total}}</td>

      </tr>

    </tbody>

  </table>

  <ul *ngFor="let value1 of value">
    <li>Total Rs. {{value1.final}}</li>
  </ul>









</div>
