<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Mirchi</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu"
      aria-expanded="false" aira-label="Toggle">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav mb-2 mb-lg-0 ">
        <li class="nav-item">
          <a class="nav-link" href="#">Toys</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Clothes</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Sports</a>
        </li>

        <li class="nav-item">
          <a (click)="cart()" class="nav-link" href="#">Cart
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<div class="container heading">
  <h1>Hello Customers</h1>
  <p class="text">Mirchi is one of the unique online shopping sites in India where fashion is accessible to all. Check
    out our new arrivals to view the latest designer clothing, footwear and accessories in the market. You can get your
    hands on the trendiest style every season in western wear.</p>

  <button type="button" class="btn btn-lg btn-outline-dark">Call To Action</button>
</div>

<div class="container content">
  <p class="message">Feature Message</p>

  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Latest shirts, T-shirts, Toys and Sports hurry</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

</div>

<div class="container items">
  <h2 class="text-center items">Items</h2>

  <div class="row">
    <div class="col-sm-3">
      <div class="card" style="width:18rem">
        <img src="\assets\2.jpg" class="card-img-top img-fluid" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Mast & Harbour</h5>
          <p>Rs.799</p>

          <button type="button" class="btn btn-outline-dark">Add Product</button>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card" style="width:18rem">
        <img src="\assets\3.jpg" class="card-img-top img-fluid" alt="">
        <div class="card-body">
          <h5 class="card-title text-center">Roadster</h5>
          <p>Rs.599</p>
          <button type="button" class="btn btn-outline-dark">Add Product</button>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card" style="width:18rem">
        <img src="\assets\4.jpg" class="card-img-top img-fluid" alt="">
        <div class='card-body'>
          <h5 class="card-title text-center">H&M</h5>
          <p>Rs.799</p>
          <button type="button" class="btn btn-outline-dark">Add Product</button>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card" style="width:18rem">
        <img src="\assets\5.jpg" class="card-img-top img-fluid" alt="">
        <div class='card-body'>
          <h5 class="card-title text-center">H&M</h5>
          <p>Rs.699</p>
          <button type="button" class="btn btn-outline-dark">Add Product</button>
        </div>
      </div>
    </div>


  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="card" style="width:18rem">
        <img src="\assets\6.jpg" class="card-img-top img-fluid" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Teddy Bear</h5>
          <p>Rs.999</p>
          <button type="button" class="btn btn-outline-dark">Add Product</button>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card" style="width:18rem">
        <img src="\assets\7.jpg" class="card-img-top img-fluid" alt="">
        <div class="card-body">
          <h5 class="card-title text-center">Areoplane</h5>
          <p>Rs.1199</p>
          <button type="button" class="btn btn-outline-dark">Add Product</button>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card" style="width:18rem">
        <img src="\assets\8.jpg" class="card-img-top img-fluid" alt="">
        <div class='card-body'>
          <h5 class="card-title text-center">Toy</h5>
          <p>Rs.1299</p>
          <button type="button" class="btn btn-outline-dark">Add Product</button>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card" style="width:18rem">
        <img src="\assets\9.jpg" class="card-img-top img-fluid" alt="">
        <div class='card-body'>
          <h5 class="card-title text-center">Cars</h5>
          <p>Rs.1199</p>
          <button type="button" class="btn btn-outline-dark">Add Product</button>
        </div>
      </div>
    </div>


  </div>


  <div class="row">
    <div class="col-sm-3">
      <div class="card" style="width:18rem">
        <img src="\assets\10.jpg" class="card-img-top img-fluid" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Football</h5>
          <p>Rs.2000</p>
          <button type="button" class="btn btn-outline-dark">Add Product</button>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card" style="width:18rem">
        <img src="\assets\11.jpg" class="card-img-top img-fluid" alt="">
        <div class="card-body">
          <h5 class="card-title text-center">Basketball</h5>
          <p>Rs.2000</p>
          <button type="button" class="btn btn-outline-dark">Add Product</button>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card" style="width:18rem">
        <img src="\assets\12.jpg" class="card-img-top img-fluid" alt="">
        <div class='card-body'>
          <h5 class="card-title text-center">Baseball</h5>
          <p>Rs.3000</p>
          <button type="button" class="btn btn-outline-dark">Add Product</button>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card" style="width:18rem">
        <img src="\assets\13.jpg" class="card-img-top img-fluid" alt="">
        <div class='card-body'>
          <h5 class="card-title text-center">Volleyball</h5>
          <p>Rs.1500</p>
          <button type="button" class="btn btn-outline-dark">Add Product</button>
        </div>
      </div>
    </div>


  </div>

</div>

<br>
<br>
<br>
<br>
<br>




<div class="container-fluid bg-dark text-white footer">
  <h5>Mirchi</h5>
  <p>Copyright ©2021 Ecommerce. All Rights Reserved</p>
</div>
