.items{
  margin-top:100px;
  padding:0px 0px 40px 0px;
  margin-bottom: 100px;
}

.item{
  font-size:45px;
  margin-bottom:40px;
}

.row{
  display: inline-grid;
  grid-template-columns: auto auto auto;
  grid-column-gap:30px;
}



@media screen and(max-width:1020px)
{
  .row{
    grid-column-gap:10px;
    padding:10px;
  }
}

.btn{
  border-radius: 40px;
}

