.message{
  font-size: 25px;
  font-weight: 700  ;
}

.row{
  display: inline-grid;
  grid-template-columns: auto auto auto;
}

@media screen and(max-width:1020px)
{
  .row{
    display: inline-grid;
    grid-template-columns: auto auto auto;
  }
}

.col{
  padding:20px;
}



.btn{
  border-radius: 20px;
  font-size: 15px;
}

.heading{
  margin-top:140px;
  padding:100px 50px 50px  120px;
  background-color: beige;
  border-radius: 15px;
}
