<div class="container heading">
  <h1>Hello Customers</h1>
  <p class="text">Mirchi is one of the unique online shopping sites in India where fashion is accessible to all. Check
    out our new arrivals to view the latest designer clothing, footwear and accessories in the market. You can get your
    hands on the trendiest style every season in western wear.</p>

  <button (click)="call()" type="button" class="btn btn-lg btn-outline-dark"><i class="fas fa-phone-alt"></i> Call To Action</button>
</div>

<div class="container content">
  <p class="message">Feature Message</p>

  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong> Latest shirts, T-shirts, Toys and Sports hurry </strong>
    <span class="badge bg-danger">New </span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

</div>

<div class="container items">
  <h2 class="text-center item">Items</h2>

  <div class="row" *ngFor="let sample of products; let i=index">
    <div class="col">
      <div class="card text-center" style="width:18rem">
        <img src="{{sample.image}}" class="card-img-top img-fluid" alt="">
        <div class="card-body">
          <h5 class="card-title text-center">{{sample.name}} ({{sample.description}})</h5>
          Quantity: <input type="number" id="quantity" name="quantity" min="0" max="5" [(ngModel)]="sample.quantity">
          <br>
          <br>
          <p>Rs. {{sample.price}}</p>
          <button (click)="add(i)" type="button" class="btn btn-outline-dark btn-sm"><i
              class="fas fa-fw fa-cart-plus"></i> Add
            Product</button>
        </div>
      </div>
    </div>
  </div>
</div>
